<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="helper.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body class="body">
    <section class="header container">
        <h3 class="">Admin1</h3>
        <a href="">Log out</a>
    </section>
    <section class="main container">
        <div class="category m-0 m-r-20">
            <div class="category-header">Admins</div>
            <div class="content">
                <a class="chapter" href="">Admin1</a>
                <a class="chapter" href="">Admin2</a>
                <a class="chapter" href="">Admin3</a>
                <a class="chapter" href="">Admin4</a>
                <a class="chapter" href="">Admin5</a>
                <a class="chapter" href="">Admin1</a>
                <a class="chapter" href="">Admin2</a>
                <a class="chapter" href="">Admin3</a>
                <a class="chapter" href="">Admin4</a>
                <a class="chapter" href="">Admin4</a>
                <a class="chapter" href="">Admin4</a>
                <a class="chapter" href="">Admin4</a>
                <a class="chapter" href="">Admin5</a>
            </div>
        </div>
        <div class="category m-0 m-r-20">
            <div class="category-header">Users</div>
            <div class="content">
                <a class="chapter" href="">User1</a>
                <a class="chapter" href="">User2</a>
                <a class="chapter" href="">User3</a>
                <a class="chapter" href="">User4</a>
                <a class="chapter" href="">User5</a>
                <a class="chapter" href="">User1</a>
                <a class="chapter" href="">User2</a>
                <a class="chapter deleted-banned" href="">User3</a>
                <a class="chapter deleted-banned" href="">User4</a>
                <a class="chapter deleted-banned" href="">User5</a>
            </div>
        </div>
        <div class="category m-0">
            <div class="category-header">Games</div>
            <div class="content">
                <a class="chapter" href="">Game1</a>
                <a class="chapter" href="">Game2</a>
                <a class="chapter" href="">Game3</a>
                <a class="chapter" href="">Game4</a>
                <a class="chapter" href="">Game5</a>
                <a class="chapter" href="">Game1</a>
                <a class="chapter" href="">Game2</a>
                <a class="chapter" href="">Game3</a>
                <a class="chapter deleted-banned" href="">Game4</a>
                <a class="chapter deleted-banned" href="">Game5</a>
            </div>
        </div>
        <!-- <div class="list_users">
            <a class="user" href="">User1</a>
            <a class="user" href="">User2</a>
            <a class="user" href="">User3</a>
            <a class="user" href="">User4</a>
            <a class="user" href="">User5</a>
            <a class="user" href="">User1</a>
            <a class="user" href="">User2</a>
            <a class="user" href="">User3</a>
            <a class="user" href="">User4</a>
            <a class="user" href="">User5</a>
        </div>
        <div class="list_games">
            <a class="game" href="">Game1</a>
            <a class="game" href="">Game2</a>
            <a class="game" href="">Game3</a>
            <a class="game" href="">Game4</a>
            <a class="game" href="">Game5</a>
            <a class="game" href="">Game1</a>
            <a class="game" href="">Game2</a>
            <a class="game" href="">Game3</a>
            <a class="game" href="">Game4</a>
            <a class="game" href="">Game5</a>
        </div> -->
    </section>
    
    
</body>
</html>